---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
---
<MainLayout title="Titel">


    <section class="">
    <div>

		<div class="pt-20">
	     <img src="/h1-name.png" alt="">

		<div class="flex justify-center mt-5">
			<div class="z-50 inline-flex bg-gradient-to-b from-reod1 via-reod2 to-reod3 p-4 rounded-[12px]">
				<img class="w-52 rounded-[12px]" src="/zara.png" alt="">
			</div>

			<div class="absolute top-72">
				<img src="/background.png" alt="">
		    </div>

		</div>
        
		<div class="flex justify-center my-10">
		<h2 class="font-cinzel text-reod4 font-bold text-3xl">Digital Designer</h2>
		</div>
		</div>

		<div class="font-rokkitt">
			<p class="flex justify-center">Hi! My name is Zarish and im currently a student at KEA. </p>
			<p class="flex justify-center">Let me take you on a journey through my exciting projects.</p>
			
			 <div class="flex justify-center">
			  <img class="animate-bounce animate-infinite animate-duration-[2000ms] animate-ease-linear my-14 w-16" src="/pilned.png" alt="">
			</div>
		</div>

	
		

	</div>

	

	</section>


	<section>
		<div class="bg-reod1">
            <div>
                   <h2 class=" text-back font-cinzel font-bold text-3xl p-4 flex justify-center">MY PROJECTS</h2>

			<div class="font-rokkitt p-6 ">

				<div>
					<h2 class="text-2xl text-back">The Korner</h2>
                  <div>
					<div class="bg-back rounded-[15px]">
					<img class="p-5" src="/thekorner.png" alt="">
					<p>Role: Prototyping, Coding</p>
				  </div>

                <div>
					<h2 class="text-2xl text-back">CA (A-kasse)</h2>
                  <div>
					<div class="bg-back rounded-[15px]">
					<img class="p-5" src="/ca.png" alt="">
					<p>Role: Design, Prototyping, Coding, SoMe</p>
				  </div>

                 <div>
					<h2 class="text-2xl text-back">Copenhagen Light Festival</h2>
                  <div>
					<div class="bg-back rounded-[15px]">
					<img class="p-5" src="/light.png" alt="">
					<p>Role: Prototyping, Coding</p>
				  </div>
                
				  <div>
					<h2 class="text-2xl text-back">Digital Cleanup Day</h2>
                  <div>
					<div class="bg-back rounded-[15px]">
					<img class="p-5" src="/digital.png" alt="">
					<p>Role: Design, Prototyping, Coding</p>
				  </div>

				</div>
			</div>
		</div>
		
	</section>

	<section>
		<h2 class="font-cinzel font-bold text-3xl p-4 flex justify-center my-8">MY SKILLS</h2>
        
		<ul class="font-rokkitt">
		  <div>
			<li>Figma</li>
			<li>Adobe Illustrator</li>
			<li>Astro</li>
			<li>Prototyping</li>
          </div>

          <div>
			<li>HTML</li>
			<li>CSS </li>
			<li>Tailwind css</li>
			<li>Alphin.js</li>
			<li>Javascript</li>
		   </div>
		</ul>
	</section>

    <section>
		<h2 class="font-cinzel">CONTACT INFOMATION</h2>
        <p>Feel free to connect with me on my socials below </p>
		
		<div class="flex gap-x-10 w-20">
		<img src="/linkedin.png" alt="">
		<img src="/github.png" alt="">
		<img src="/email.png" alt="">
		</div>

		<p title="font-rokkitt">Designed & Developed by Zarish Zara Karim</p>
	</section>

</MainLayout>