---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
---
<MainLayout title="Titel">


    <section class="bg">

    <div>

		<div class="pt-20">
			<div class="md:flex justify-center md:relative top-[-9.8rem]">
	     <img class="mt-10 md:w-[60%] md:mt-20" src="/h1-name.png" alt="">
		 </div>
		 

		<div class="flex justify-center md:mt-[-15%]">
			<div class="z-50 inline-flex bg-gradient-to-b from-reod1 via-reod2 to-reod3 p-4 rounded-[12px]">
				<img class="w-52 rounded-[12px] md:w-72" src="/zara.png" alt="">
			</div>


			<div class="absolute top-72 ">
				<img src="/background.png" alt="">
		    </div>

		</div>
        
		<div class="flex justify-center my-10 md:mt-20 textcontainer content">
			<div class="font-cinzel text-reod4 font-bold text-3xl md:text-6xl waviy digital ">
   			<h2 class="font-cinzel text-reod4 font-bold text-3xl md:text-6xl">Digital Designer</h2> 
		</div>
		</div>

		<div class="font-rokkitt space-y-3 md:text-2xl">
			<p class="flex justify-center">Hello there! I'm Zarish, a student at KEA.</p>
			<p class="flex justify-center">Let me take you on a journey through my exciting projects.</p>
			
			 <div class="flex justify-center ">
			  <img class="pil my-14 w-16" src="/pilned.png" alt="">
			</div>
		</div>

	</div>
	</section>


	<section>
		<div class="bg-reod1 py-8">
            <h2 class=" text-back font-cinzel font-bold text-3xl p-4 flex justify-center md:text-4xl"><span class="underline">MY PROJECTS</span></h2>
			<div class="rood font-rokkitt p-6 space-y-10 md:grid grid-rows-2 grid-flow-col gap-4 md:space-y-0 md:px-32 gap-x-32 gap-y-20">

				<div>
					<h2 class="text-2xl text-back text-center mb-3">The Korner</h2>
					<div class="bg-back rounded-[24px] ">
						<a href="https://the-korner.netlify.app"><img class="p-5" src="/thekorner1.png" alt=""></a>
						<p class="px-5 pb-4 text-[18px]"><span class="font-bold">Role:</span> Prototyping, Coding</p>
					</div>
				</div>

				<div>
					<h2 class="text-2xl text-back text-center mb-3">CA (A-kasse)</h2>
					<div class="bg-back rounded-[24px] ">
						<a href="https://ca-karrierekick.netlify.app/"><img class="p-5" src="/ca1.png" alt=""></a>
						<p class="px-5 pb-4 text-[18px]"><span class="font-bold">Role:</span> Design, Prototyping, Coding, SoMe</p>
					</div>
				</div>

				<div>
					<h2 class="text-2xl text-back text-center mb-3">Copenhagen Light Festival</h2>
					<div class="bg-back rounded-[24px]">
						<a href="https://copenhagenlightfestival-gruppe4.netlify.app"><img class="p-5" src="/light1.png" alt=""></a>
						<p class="px-5 pb-4 text-[18px]"><span class="font-bold">Role:</span> Prototyping, Coding</p>
					</div>
				</div>

				<div>
					<h2 class="text-2xl text-back text-center mb-3">Digital Cleanup Day</h2>
					<div class="bg-back rounded-[24px] ">
						<a href="https://digital-cleanup.netlify.app"><img class="p-5" src="/digital1.png" alt=""></a>
						<p class="px-5 pb-4 text-[18px]"><span class="font-bold">Role:</span>  Design, Prototyping, Coding</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="bg">
		<div class="skill">
		<h2 class="font-cinzel font-bold text-3xl p-4 flex justify-center py-14 md:text-4xl md:my-0 md:pt-20 skill"><span class="underline">MY SKILLS</span></h2>
        </div>

		<ul class="font-rokkitt space-y-8 m-3 md:mx-80">
		  
			<div class="flex flex-cols-2 justify-between">
			<li class="text-2xl">Figma</li>
			<div class="flex gap-3">
				<div class="w-5 h-5 bg-reod2 rounded-full"></div>
				<div class="w-5 h-5 bg-reod2 rounded-full"></div>
				<div class="w-5 h-5 bg-reod2 rounded-full"></div>
				<div class="w-5 h-5 bg-reod2 rounded-full"></div>
				<div class="w-5 h-5 border-reod2 border-2 rounded-full"></div>
			</div>
            </div>

			<div class="flex flex-cols-2 justify-between">
			<li class="text-2xl">Adobe Illustrator</li>
			<div class="flex gap-3">
				<div class="w-5 h-5 bg-reod2 rounded-full"></div>
				<div class="w-5 h-5 bg-reod2 rounded-full"></div>
				<div class="w-5 h-5 bg-reod2 rounded-full"></div>
				<div class="w-5 h-5 bg-reod2 rounded-full"></div>
				<div class="w-5 h-5 border-reod2 border-2 rounded-full"></div>
			</div>
            </div>

			<div class="flex flex-cols-2 justify-between">
			<li class="text-2xl">Astro</li>
			<div class="flex gap-3">
				<div class="w-5 h-5 bg-reod2 rounded-full"></div>
				<div class="w-5 h-5 bg-reod2 rounded-full"></div>
				<div class="w-5 h-5 bg-reod2 rounded-full"></div>
				<div class="w-5 h-5 bg-reod2 rounded-full"></div>
				<div class="w-5 h-5 border-reod2 border-2 rounded-full"></div>
			</div>
            </div>

            <div class="flex flex-cols-2 justify-between">
			<li class="text-2xl">Prototyping</li>
			<div class="flex gap-3">
				<div class="w-5 h-5 bg-reod2 rounded-full"></div>
				<div class="w-5 h-5 bg-reod2 rounded-full"></div>
				<div class="w-5 h-5 bg-reod2 rounded-full"></div>
				<div class="w-5 h-5 bg-reod2 rounded-full"></div>
				<div class="w-5 h-5 border-reod2 border-2 rounded-full"></div>
			</div>
			</div>
         
			<div class="flex flex-cols-2 justify-between">
			<li class="text-2xl">HTML</li>
			<div class="flex gap-3">
				<div class="w-5 h-5 bg-reod2 rounded-full"></div>
				<div class="w-5 h-5 bg-reod2 rounded-full"></div>
				<div class="w-5 h-5 bg-reod2 rounded-full"></div>
				<div class="w-5 h-5 bg-reod2 rounded-full"></div>
				<div class="w-5 h-5 border-reod2 border-2 rounded-full"></div>
			</div>
            </div>

			<div class="flex flex-cols-2 justify-between">
			<li class="text-2xl">CSS </li>
			<div class="flex gap-3">
				<div class="w-5 h-5 bg-reod2 rounded-full"></div>
				<div class="w-5 h-5 bg-reod2 rounded-full"></div>
				<div class="w-5 h-5 bg-reod2 rounded-full"></div>
				<div class="w-5 h-5 bg-reod2 rounded-full"></div>
				<div class="w-5 h-5 border-reod2 border-2 rounded-full"></div>
			</div>
            </div>

			<div class="flex flex-cols-2 justify-between">
			<li class="text-2xl">Tailwind CSS</li>
			<div class="flex gap-3">
				<div class="w-5 h-5 bg-reod2 rounded-full"></div>
				<div class="w-5 h-5 bg-reod2 rounded-full"></div>
				<div class="w-5 h-5 bg-reod2 rounded-full"></div>
				<div class="w-5 h-5 bg-reod2 rounded-full"></div>
				<div class="w-5 h-5 border-reod2 border-2 rounded-full"></div>
			</div>
			</div>

			<div class="flex flex-cols-2 justify-between">
			<li class="text-2xl">Animated CSS</li>
			<div class="flex gap-3">
				<div class="w-5 h-5 bg-reod2 rounded-full"></div>
				<div class="w-5 h-5 bg-reod2 rounded-full"></div>
				<div class="w-5 h-5 bg-reod2 rounded-full"></div>
				<div class="w-5 h-5 bg-reod2 rounded-full"></div>
				<div class="w-5 h-5 border-reod2 border-2 rounded-full"></div>
			</div>
			</div>
             
			<div class="flex flex-cols-2 justify-between">
			<li class="text-2xl">Alpine.js</li>
			<div class="flex gap-3">
				<div class="w-5 h-5 bg-reod2 rounded-full"></div>
				<div class="w-5 h-5 bg-reod2 rounded-full"></div>
				<div class="w-5 h-5 bg-reod2 rounded-full"></div>
				<div class="w-5 h-5 border-reod2 border-2 rounded-full"></div>
				<div class="w-5 h-5 border-reod2 border-2 rounded-full"></div>
			</div>
            </div>

			<div class="flex flex-cols-2 justify-between">
			<li class="text-2xl">Javascript</li>
			<div class="flex gap-3">
				<div class="w-5 h-5 bg-reod2 rounded-full"></div>
				<div class="w-5 h-5 bg-reod2 rounded-full"></div>
				<div class="w-5 h-5 border-reod2 border-2 rounded-full"></div>
				<div class="w-5 h-5 border-reod2 border-2 rounded-full"></div>
				<div class="w-5 h-5 border-reod2 border-2 rounded-full"></div>
			</div>
			</div>
		</ul>

    <section>

        <div class="my-12 mx-4 md:flex justify-center md:my-12">
			<img class="md:w-[75%]" src="/line.png" alt="">
		</div>

		<div class="contact">
		<h2 class="font-cinzel font-bold text-3xl p-4 flex justify-center md:text-4xl md:mb-5"><span class="underline">CONTACT INFOMATION</span></h2>
		</div>

		<div class="md:text-[22px]">
        <p class="text-center font-rokkitt mx-4 md:mx-[26rem]">Take the first step and connect with me on my social media channels below. I'm looking forward to hearing from you! </p>
		</div>


		<div class="flex flex-row justify-center content-center gap-6 mb-8 mt-7 ">
			<a href="https://www.linkedin.com/in/zarish-zara-karim/"><img class="w-20 h-20" src="/linkedin.png" alt=""></a>
			<a href="https://github.com/misszarakarim"><img class="w-20 h-20" src="/github.png" alt=""></a>
			<a href="mailto:zarishdk@gmail.com"><img class="w-20 h-20" src="/email.png" alt=""></a>
		</div>
		<p class="font-rokkitt text-center font-bold pb-10 md:pb-10">Designed & Developed by Zarish Zara Karim</p>
	</section>

	</section>

</MainLayout>

<script>

import {inView} from "motion";

// h2, digital designer
const digital = document.querySelector(".digital");

inView (digital, () => {
	digital.classList.add("animate__animated", "animate__backInLeft");
});

// h2, my skills
const skill = document.querySelector(".skill");

inView (skill, () => {
	skill.classList.add("animate__animated", "animate__lightSpeedInRight");
});

// h2, my skills
const rood = document.querySelector(".rood");

inView (rood, () => {
	rood.classList.add("animate__animated", "animate__fadeIn");
});
</script>


<style>

	/* ANIMATION TIL PILEN*/
	.pil{
    -webkit-animation: mover 3s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

/* ANIMATIONEN TIL BAGGRUNDEN*/
.bg {
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, #af4d57 0%, #d65060 25%, #FCB9B2 51%, #FED0BB 100%);
  -webkit-animation: AnimateBG 20s ease infinite;
          animation: AnimateBG 20s ease infinite;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


</style>

